<div id="foot">
    
    <ul class="footer">
        <li style="color: white; font-size: smaller;" class="footer-content">  Made with ♥ in Oakland 504</li>
    </ul>
    <ul class="sns">
        <div class="sns_icon">
            <li>
                <a href="http//www.twitter.com"><%= image_tag("tw.png", :height => 25, :id => "sns", :class => "footer-content")%></a>
            </li>
            <li>
                <a href="http//www.facebook.com"><%= image_tag("f.png", :height => 25, :id => "sns", :class => "footer-content")%></a>
            </li>
        </div>
    </ul>
</div>
