<div id="foot">
    <ul class="footer">
        <li class="copyright">
            <p>Copyright</p>
        </li>
        <li class="contact">
            <p>
                <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Contact</a>
            </p>
        </li>
    </ul>
    <ul class="sns">
        <div class="sns_icon">
            <li>
                <a href="http//www.facebook.com"><%= image_tag("f.png", :width => 30, :height => 30)%></a>
            </li>
            <li>
                <a href="http//www.instagram.com"><%= image_tag("inst.png", :width => 45, :height => 30)%></a>
            </li>
            <li>
                <a href="http//www.twitter.com"><%= image_tag("tw.png", :width => 30, :height => 30)%></a>
            </li>
        </div>
    </ul>
</div>
